.ball {
  motion-path: path(
    "M557 122.5C557 138.421 549.637 153.825 535.839 168.097C522.027 182.384 501.896 195.387 476.787 206.372C426.579 228.338 357.006 242 280 242C202.994 242 133.421 228.338 83.2126 206.372C58.1037 195.387 37.9726 182.384 24.1606 168.097C10.3626 153.825 3 138.421 3 122.5C3 106.579 10.3626 91.1749 24.1606 76.9027C37.9726 62.616 58.1037 49.613 83.2126 38.6279C133.421 16.6616 202.994 3 280 3C357.006 3 426.579 16.6616 476.787 38.6279C501.896 49.613 522.027 62.616 535.839 76.9027C549.637 91.1749 557 106.579 557 122.5Z"
  );
  offset-path: path(
    "M557 122.5C557 138.421 549.637 153.825 535.839 168.097C522.027 182.384 501.896 195.387 476.787 206.372C426.579 228.338 357.006 242 280 242C202.994 242 133.421 228.338 83.2126 206.372C58.1037 195.387 37.9726 182.384 24.1606 168.097C10.3626 153.825 3 138.421 3 122.5C3 106.579 10.3626 91.1749 24.1606 76.9027C37.9726 62.616 58.1037 49.613 83.2126 38.6279C133.421 16.6616 202.994 3 280 3C357.006 3 426.579 16.6616 476.787 38.6279C501.896 49.613 522.027 62.616 535.839 76.9027C549.637 91.1749 557 106.579 557 122.5Z"
  );
  animation: rotation 6s linear infinite;
  animation-delay: calc(var(--n) * 0.75s);
}
@keyframes rotation {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}
